nav {
    height: 68px;
    background-color: cornflowerblue;
}

nav a {
    padding-left: 3%;
    font-size: 34px;
    text-decoration: none;
    color: black;
}

.header {
    background-color: aquamarine;
    height: 140px;
}